* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: white;
}

.galeria__item img {
	display: block;
	max-width: 100%;
	opacity: .8;
	width:500px; 
	height:250px; 
}
.galeria__item img:hover {
	display: block;
	max-width: 100%;
	opacity: 1;
}

.galeria {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.galeria__item {
	width: 80%;
	cursor: pointer;
}

@media (min-width:480px) {
	.galeria__item {
		width: 48%;
		margin: 5px
	}
}
@media (min-width:780px) {
	.galeria__item {
		width: 33%;	
	}
}
@media (min-width:780px) {
	.galeria__item {
		width: 20%;	
		margin: 15px;
	}
}
.modal{
	position: fixed;
	height: 100vh;
	background: rgb(0,0,0,0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%
	
}
.modal__img{
	width: 70%;
	max-width: 700px;
}
.modal__boton{
	width: 50px;
	height: 50px;
	color: #fff;
	font-weight: bolder;
	font-size: 25px;
	font-family: monospace;
	line-height: 50px;
	text-align: center;
	background: red;
	border-radius: 50%;
	cursor: pointer;
	position: absolute;
	right: 5px;
	top: 10px;
		
}
/*Estilos 3D a las imagenes*/
.contenedor{
	height: 250px;
	width: 250px;
	margin: auto;
	border:green solid;
	-webkit-perspective:700;
	box-shadow: 0 0 5px black;
	
}
.carta{
	height: 100%;
	width: 100%;
	border: red solid;
	position: relative;
	transform-style: preserve-3d;
	transition: 2s;
}
.carta:hover{
	transform: rotateY(180deg);
}
.lado{
	width: 100%;
	height: 100%;
	border: #2a3da5 solid;
	backface-visibility: hidden;
	position: absolute;

}
.frente{
	background: crimson;
}
.atras{
	background: green;
	transform: rotateY(180deg)
}
img{
	width: 100%;
	height: 100%
}
.atras h4{
	text-align: center;
}
.lado p:hover{
	background: yellow;
}